:root {
    /*Primary*/
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/

    --light-royal-blue: hsl(241, 81%, 54%);
    --light-slate-blue: hsl(252, 100%, 67%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);


    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

.start-card {
    background: linear-gradient(var(--light-royal-blue), var(--light-slate-blue));
}



.app-circle {
    background: linear-gradient(var(--violet-blue), var(--persian-blue) );
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.app-fs-1{
    font-size:  15px;
    color: rgb(185, 185, 185);
}

.app-fs-10{
    font-size: 80px;
}

.r{
    color: var(--light-red);
}
.m{
    color: var(--orangey-yellow);
}
.v1{
    color: var(--green-teal);
}

.v2{
    color: var(--cobalt-blue);
}



